* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.map {
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    flex-grow: 1;
    background-color: green;
}

#map_canvas {
    flex-grow: 1;
}

.text {
    flex-grow: 1;
    background-color: white;
}
.search-block {
    background-color: rgb(255, 192, 0);
}

#search {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
}

.results-block {
    margin: 20px 30px;
}